<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/75d11e18-1709-40f3-be25-61852ee444cf/resourceGroups/PCS_ResourceGroup/providers/Microsoft.ContainerRegistry/registries/AzureContainerApiNew</ResourceId>
    <ResourceName>AzureContainerApiNew</ResourceName>
    <ResourceGroup>PCS_ResourceGroup</ResourceGroup>
    <Subscription>PCS Azure subscription</Subscription>
    <RegistryUrl>https://azurecontainerapinew.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bf4ac9bf-e669-4e31-9e01-a82c42a46a5e</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>